body {
	font-family: Arial, sans-serif;
	width: 300px;
	background-image: url('background.jpg');
	border: 1px solid #ccc;
	padding: 20px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#login-form {
	margin-top: 20px;
}

#login-form label {
	display: block;
	margin-top: 20px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

#login-form button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}
.link-header {
  
  padding: 5px 10px 5px 10px;
  font-size: 36px;

}
